@charset "utf-8";
/* CSS Document*/
body{margin:0;padding:0;}
header{background:url(../img/hero-bg.jpg);background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;
	width:100%;min-height:750px;background-size:cover;overflow:hidden;}
#hrgb{background:rgba(0,0,0,0.5);width:100%;min-height:800px;overflow:hidden;}
header img{width:120px;height:80px;padding:20px 0 0 0;float:left;}
header .container p{margin-top:110px;font-size:1.6rem;color: rgba(255, 255, 255, 0.5);text-transform:uppercase;letter-spacing: .3rem}
header .container h1{font-size: 3.3rem;line-height: 1.333;padding:10px 0 10px 0;color:#FFFFFF;font-weight: 400;font-family: 'Charmonman', cursive;}
.head {padding:5px 0;background:transparent;box-shadow: 0 4px 6px rgba(0,0,0,.2);background:#333;position: fixed;top: 0;width: 100%;z-index:999999;}
.head .container {padding: 0 20px;max-width: 960px;margin: 0 auto;}
.head .logo-box {float: left;margin-right: 20px;}
.head .logo-box a {outline: none;display: block;}
.head .logo-box img {display: block;}
.head .navbar {overflow: hidden; color: #868686;}
.head ul {list-style: none;margin: 0;padding: 0;float: right;}
.head .navbar li { display: inline-block;margin-left: 25px;height: 70px;line-height: 70px;transition: .5s linear;;}
.head .navbar {text-decoration: none;display: block;position: relative;color: #868686;text-transform: uppercase;}
.head .navbar:after {content: "";width: 0;height: 2px;position: absolute;left: 0;bottom: 15px;background: #868686;transition: width .5s linear;  }
.navbar-toggler{background:grey;
}
.navbar{
   color: #868686; 
}
.head .navbar li.nav-item a{
   color: white;
}


@media screen and (max-width: 800px) {
  .head {text-align: center;}
  .head .logo-box {float: none;display: inline-block;margin: 0 0 16px 0;}
  .head ul {float: none;}
  .head nav li:first-of-type {margin-left: 0;}
   header .container p{font-size:0.8rem}
   header .container h1{font-size:1.8rem}
}
@media screen and (max-width: 400px) {
   .head nav {overflow: visible;}
   .head nav li {display: block;margin: 0;height: 40px;line-height: 40px;}
   .head nav li:hover {background: rgba(0,0,0,.1);}
   .head nav a:after {content: none;}
}

#intro{background:url(../img/GettyImages-618066222-58a7a9565f9b58a3c9d780d3.jpg) no-repeat;width:100%;min-height:750px;background-size:cover;overflow:hidden;}
#intro.int{background:rgba(0,0,0,0.5);width:100%;min-height:750px;}
.int h3{text-align:center;color:#FFF;padding-top: 70px;font-size:40px;font-weight:600}
.int h1{text-align:center;color:#fff;font-size:60px;font-family: 'Charmonman', cursive;font-weight:600;padding:30px 0 0 0;letter-spacing:3px}
.int.line{width:750px;height:1px;background:#fff;margin:5px auto;}
.int h4{text-align:center;color:#fff;padding-top:30px;font-size:30px;line-height:45px;font-family: 'Indie Flower', cursive;}

#team{background:#f1f1f1;padding:40px 0;text-align:center;}
#team h1{font-size:20px;text-transform:uppercase;text-align:center;font-weight:600;padding-bottom:10px;font-family:'Charmonman';padding-top:5px;border-bottom:4px solid;display:inline-block}
#team .container{max-width:1200px;margin:auto;color:#333;overflow:hidden;}
#team .pe{float:left;width:calc(100% / 3);transition:0.4s;overflow:hidden;padding:40px 0;}
#team .pe:hover{background:#ddd;}
.pers{
  display: flex;
  flex-direction: row;
}
.pe{

  flex-grow: 1;
}
#team .pe img{width:170px;}
#team .pe-name{margin:16px 0;text-transform:uppercase;}
#team .p-des{font-style:italic;color:#3498db;}
#team .p-sm{margin-top:12px;}
#team .p-sm a{margin:0 4px;display:inline-block;width:30px;height:30px;text-align:center;transition:0.4s}
#team .p-sm a:hover{transform:scale(1.3);}
#team .p-sm a i{color:#333;line-height:30px;}
@media screen and (max-width: 600px) {
	#team .pe{
		width:100%
	}
}

#work .container{min-height:300px;padding:10px 0 80px 0;}
#work h1{text-align:center;font-weight:600;padding-bottom:10px;font-family:'Charmonman';padding:30px 0 30px 0;color:#e51b23}
#work .row{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;padding: 0 4px;}
#work .column{-ms-flex: 25%;flex: 25%;max-width:100%;padding: 0 4px;}
#work .column img {margin-top: 8px;vertical-align: middle;}
@media screen and (max-width: 800px) {
  #work .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  #work .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

#contact{background:url(../img/contact-bg.jpg) no-repeat center;padding:40px 0;background-size:cover;min-height:200px;overflow:hidden;}
#contact h3{color: #39b54a;font-size: 1.6rem;line-height: 1.0;font-family: montserrat-medium,sans-serif;font-weight: 400;padding:5px 0 10px 0;text-align:left;}
#contact h1{text-align: left;color:#ddd;margin-bottom:20px; }
#contact p{margin-bottom: 2rem;color: rgba(255,255,255,.3);font-family: montserrat-light,sans-serif;font-size: 1.2rem;line-height: 1.3;font-style: normal;font-weight:100;}
.contact-form{max-width:600px;margin:auto;padding:0 10px;overflow:hidden;}
.contact-form-text{display: block;width: 100%;box-sizing:border-box;margin:16px 0; border:0;background:#111;padding:20px 40px;outline:none;color:#ddd;transition:0.5s}
.contact-form-text:hover{box-shadow:0 0 10px 4px #34495e}
textarea.contact-form-text{resize:none;height:120px;}
.contact-form-btn{float:right;border:0;background: #34495e;color:#fff;border-radius:20px;cursor:pointer;transition:0.5s}
.contact-form-btn:hover{background:#2980b9}
#contact .icon {display: inline-block;margin:5px 2px; text-align: left;}
.icons{
  padding-left: 0%;
}
#contact .icon a {display: block;width:40px;height:40px;line-height:40px;color:#fff;border-radius:50%;background:transparent;transition: all 0.5s ease 0s;text-decoration: none;
	text-align: center;border:3px solid #fff;}
#contact .icon a:hover {color:#fff;transform: rotate(360deg);border-radius:50%;}
#contact .icon a i {text-align: center;display: inline-block;margin-top:5px}


footer{background:black;height:40px}
footer .left{text-align:left;font-size: 14px;color: rgba(255,255,255,.3);line-height: 2;font-style: normal;font-weight: 400;padding-top: 5px;}
footer .right{text-align:right;font-size: 14px;color: rgba(255,255,255,.3);line-height: 2;font-style: normal;font-weight: 400;padding-top: 5px;}

#topBtn{position: fixed;bottom:40px;right:40px;font-size:22px;width:50px;height:50px;background:#e74c3c;color:#fff;border:0;cursor:pointer;display:none;text-align: center;text-decoration: none;z-index:9999;}

